<footer class="page-footer white lighten-1">
  <div class="footer-copyright black">
    <div class="container">
      Articles belong to <a href='http://www.nasa.gov' target="_blank">NASA</a>
    </div>
  </div>
</footer>