body{
    background: #b7c6d6;
    background-size: 600px;
    font-family: 'Abril Fatface', sans-serif;
    font-size: 16px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main{
    flex: 1 0 auto;
  }
  
  .articleBody{
    height: 200px;
    font-size: 20px;
    overflow-y: scroll;
    line-height: 150%;
  }
  
  #nameComment{
    font-weight: bold;
    background: #7c797a;
    color: white;
  }
  
  .input-field input[type=text]:focus + label {
   color: #e91e63;
  }

  .input-field input[type=text]:focus {
   border-bottom: 1px solid;
   box-shadow: 0 1px 0 0 #000;
  }

  .input-field .prefix.active {
   color: #263bf5;
  }
  
  /* overrides materialize css */
  nav .brand-logo {
    font-size: 3.1rem;
  }
  
  nav ul a {
    font-size: 3rem;
  }

  .left-align {
    text-align: center;
  }

  